[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
django = "==3.1"
markdown = "*"
gunicorn = "*"
django-pure-pagination = "*"

[requires]
python_version = "3.6"
